[".config/nvim"]
    type = "git-repo"
    {{- if .ssh }}
    url = "git@github.com:ShangYJQ/nvim-lite.git"
    {{- else }}
    url = "https://github.com/ShangYJQ/nvim-lite.git"
    {{- end }}
    refreshPeriod = "24h"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "24h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    refreshPeriod = "24h"
